.bg{
    background-image: url("../public/img/bg-footer.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ttFooter{
    border-left: solid 4px #fdc820;
    color: white;
    font-family: "Univers";
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 15px;
}

.filial{
    border-left: solid 3px #fdc820;
    color: white;
    font-family: "Univers";
    font-weight: 200;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 15px;
}

.endereco{
    color: white;
    font-family: "Univers";
    font-weight: 200;
    font-size: 18px;
    margin-top: 15px;
}

.bgcopy{
    background-color: rgb(26, 26, 26);
    padding-top: 10px;
    padding-bottom: 10px;
}

.copy{
    text-align: center;
    color: grey;
    font-family: "Univers";
    font-weight: 200;
}

@media(max-width: 600px){
    .endereco{
        margin-bottom: 50px;
    }

    .bgcopy{
        padding-left: 10px;
        padding-right: 10px;
    }
}