.bgcolor{
    background-color: black;
    padding-top: 75px;
    padding-bottom: 95px;
}

.text{
    text-align: center;
    color: white;
    font-family: "Univers";
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
}


.bgcard{
    background-color: #ffc700;
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 40px;
    margin-top: -115px;
    margin-right: 5px;
    margin-left: 5px;
}

.categoria{
    text-align: center;
    color: white;
    font-family: "Univers";
    font-weight: 200;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.modelo{
    text-align: center;
    color: white;
    font-family: "Univers";
    font-weight: 200;
    text-transform: uppercase;
    font-size: 22px;
}
