.bgbanner{
    background-image: url("../../public/img/contador.jpg");
    background-size: cover;
    height: 100vh;
}

.text{
    text-align: center;
    color: white;
    font-family: "Univers";
    font-weight: 800;
    font-size: 40px;
    padding-top: 40px;
    margin: 0 170px 0 170px;
}

@media(max-width: 600px){
    .text{
        margin: 0;
        font-size: 25px;
    }
}