.bg{
    background-image: url("../../public/img/bg-form.jpg");
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.9);
}

.title{
    color: #ffc700;
    font-family: "Univers", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: -20px;
}

.title2{
    color: white;
    font-family: "Univers", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: -10px;
}

.divider{
    height: 3px;
    background-color: #ffc700;
    width: 250px;
}

.border{
    font-family: "Univers", sans-serif;
    color: #ffc700;
    font-weight: 200;
    border: solid 1px #ffc700;
    border-radius: 100px;
    font-size: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    margin-right: 10px;
}

.tt{
    font-family: "Univers", sans-serif;
    color: #ffc700;
    font-weight: 200;
    font-size: 20px;
}

.description{
    color: grey;
    font-size: 20px;
    font-family: "Univers", sans-serif;
    font-weight: 200;
}

.cardForm{
    background: rgb(22,22,22);
    background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(3,3,3,1) 100%);
    padding: 30px;
}

.ttForm{
    color: #ffc700;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Univers", sans-serif;
    font-weight: 200;
}

.label{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Univers", sans-serif;
    font-weight: 200;
    margin-top: 20px;
}

.input{
    background-color: transparent;
    border-radius: 0;
    border-color: grey;
    padding: 15px;
    font-family: "Univers", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.checkbox{
    background-color: transparent;
    border: solid 1px grey;
    margin-right: 10px;
}

.txtCheck{
    margin-top: 15px;
    color: grey;
    font-family: "Univers", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.button{
    font-family: "Univers", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    background: rgb(253,200,32);
    background: linear-gradient(121deg, rgba(253,200,32,1) 0%, rgba(255,162,0,1) 100%);
    padding: 8px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 1em gold;
    border: none;
    transition: 0.3s;
}

.button:hover{
    background: white;
    transition: 0.3s;
}

@media (max-width: 600px){
    .video{
        width: 330px !important;
        height: 200px !important;
    }

    .bg{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}