.bgcolor{
    background-color: black;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: solid 3px #ffc700;
}

.frase{
    font-family: "Univers", sans-serif;
    font-weight: 800;
    font-size: 75px;
    line-height: 70px;
    color: white;
    text-align: right;
    margin-top: 120px;
    margin-right: 10px;
}

@media(max-width: 600px){
    .frase{
        font-size: 40px;
        text-align: left;
        margin-top: 50px;
        line-height: 40px;
    }

    .bgcolor{
        padding-left: 20px;
        padding-right: 20px;
    }
}