html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Univers";
  src: url("../public/font/UNVR57X.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "Univers";
  src: url("../public/font/UNVR57W.TTF");
  font-weight: 800;
}

@font-face{
  font-family: "Univers";
  src: url("../public/font/UniversLightCondensed.ttf");
  font-weight: 200;
}